<div class="bg-white h-screen w-screen relative flex">
  <div class="flex w-full h-full flex-initial">
      <div class="flex-initial w-full">
          <div class="rounded flex-col overflow-hidden shadow-lg mx-auto mt-5 max-w-6xl">
              <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">Información</div>
                <div class="flex flex-wrap">
                  <form action="" [formGroup]="teacherForm">
                    <table class="example-full-width" cellspacing="0">
                      <tr>
                        <td>
                          <mat-form-field class="example-full-width">
                            <mat-label>Nombre</mat-label>
                            <input matInput type="text" formControlName="nombre" placeholder="Ex. Pedro">
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field class="example-full-width">
                            <mat-label>Apeliido</mat-label>
                            <input matInput type="text" formControlName="apellido" placeholder="Ex. Parker">
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>
                    <table class="example-full-width" cellspacing="0">
                      <tr>
                        <td>
                          <mat-form-field class="example-full-width">
                            <mat-label>Identificación</mat-label>
                            <input matInput type="text" maxlength="10" formControlName="identificacion" placeholder="Ex. 178945612">
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field class="example-full-width">
                            <mat-label>Correo</mat-label>
                            <input matInput type="text" formControlName="correo" placeholder="Ex. user@gmail.com">
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>
                    <p>
                      <mat-form-field class="example-full-width">
                        <mat-label>Dirección</mat-label>
                        <input matInput type="text" formControlName="direccion" placeholder="Ex. Av. 10 de Agosto y Pátria">
                      </mat-form-field>
                    </p>
                  </form>
                  <div class="w-full md:w-1/3 mt-4">
                    <button class="bg-greenWeedLight hover:bg-greenWeed mx-auto text-white font-bold py-2 px-4 rounded-full" (click)="update()"><i class="pi pi-fw pi-check"></i> Actualizar</button> 
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>