<div class="flex flex-wrap h-full bg-gray-200">
  <div class="w-1/2 p-2 mt-5">
    <div class="text-gray-700   bg-whiteLight p-2">
      <div class="max-w-sm mx-auto rounded overflow-hidden shadow-lg">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Tareas Pendientes</div>
          <p class="text-white text-base pt-5">
            <a class="w-full text-center">
              <span class="inline-block bg-purpleLight rounded-full w-full px-3 py-1 text-sm text-white 0 mr-2 mb-2">Ejemplos de Angular - Programacion - 11:am</span>
            </a>
            <a class="w-full text-center">
              <span class="inline-block bg-purpleLight rounded-full w-full px-3 py-1 text-sm text-white 0 mr-2 mb-2">Ejemplos de Angular - Programacion - 11:am</span>
            </a>
            <a class="w-full text-center">
              <span class="inline-block bg-purpleLight rounded-full w-full px-3 py-1 text-sm text-white 0 mr-2 mb-2">Ejemplos de Angular - Programacion - 11:am</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-1/2 p-2 mt-5">
    <div class="text-gray-700 text-center bg-whiteLight p-2">
      <div class="max-w-sm rounded mx-auto overflow-hidden shadow-lg">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2"></div>
          <p class="text-gray-700 text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full p-2 mr-1 mb-2">
    <div class="w-full flex flex-wrap p-2 bg-whiteLight mr-0">
      <div class="font-bold text-xl mb-2 p-2 w-1/2">Mis Cursos</div>
      <div class="w-1/2"> 
        <mat-paginator [length]="length"
          [pageSize]="pageSize"
          (page)="pageEvent = $event">
        </mat-paginator>
      </div>
      
      <a class="mx-auto" *ngFor="let data of obs | async">
        <div class="text-gray-700 text-center mx-auto bg p-2">
          <div class="max-w-sm rounded overflow-hidden shadow-lg">
            <img class="w-full" src="../../assets/img/bg-Manhattan.png" alt="Sunset in the mountains">
            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2">{{data.title}}</div>
              <p class="text-gray-700 text-base">{{data.text}}</p>
            </div>
          </div>
        </div>
      </a>
      <!--<a>
        <div class="text-gray-700 text-center mx-auto bg p-2">
          <div class="max-w-sm rounded overflow-hidden shadow-lg">
            <img class="w-full" src="../../assets/img/bg-Manhattan.png" alt="Sunset in the mountains">
            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2">Fisica General</div>
              <p class="text-gray-700 text-base">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
              </p>
            </div>
          </div>
        </div>
      </a>
      <a>
        <div class="text-gray-700 text-center mx-auto bg p-2">
          <div class="max-w-sm rounded overflow-hidden shadow-lg">
            <img class="w-full" src="../../assets/img/bg-Manhattan.png" alt="Sunset in the mountains">
            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2">Fisica General</div>
              <p class="text-gray-700 text-base">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
              </p>
            </div>
          </div>
        </div>
      </a>-->
      
    </div>
  </div>
</div>