<div class="flex w-full h-full flex-initial">
  <div class="flex-initial w-full">
      <div class="flex-col overflow-hidden w-full">
          <h2 class="font-bold uppercase text-xl mt-8 ml-4">Lista Cursos</h2>
          <div class="flex justify-end mt-5">
              <button class="bg-greenWeedLight mr-4 hover:bg-greenWeed text-white font-bold py-2 px-4 rounded-full" routerLink="/cursos/nuevo">Crear Nuevo</button> 
          </div>
          <div class="mt-4 mx-4">
            <table mat-table class="mat-elevation-z8">
          
             
              <!--<ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
            
             
              <ng-container matColumnDef="lastname">
                <th mat-header-cell *matHeaderCellDef> Apellido </th>
                <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
              </ng-container>
            
              
              <ng-container matColumnDef="identification">
                <th mat-header-cell *matHeaderCellDef> identificación </th>
                <td mat-cell *matCellDef="let element"> {{element.identification}} </td>
              </ng-container>

              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Correo </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
            </table>
          </div>
      </div>
  </div>
</div>




<!--<div class="flex  ">
  <div class="flex-1   px-7 py-3 m-3">
    <div class="max-w-sm rounded overflow-hidden shadow-lg bg-gray-300" id="card" >

      <div class="px-6 py-6">
        <div class="font-bold text-xl mb-2">Crear Cursos</div>
        <br>
        <br>
        <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
          Curso
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  [(ngModel)]="nombre_curso"    type="text" placeholder="Ingrese Curso">
        <br>
        <br>
        <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
          Paralelos
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"    type="text"   [(ngModel)]="nombre_paralelo" placeholder="Ingrese Paralelo">
      </div>
      <div class="px-6 pt-4 pb-2">

        <button id="crear" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" (click)="crear()" >
          Crear
        </button>

      </div>
    </div>
  </div>

  <div class="flex-1  text-center   px-7 py-3 m-3">
    <table class="table-fixed">
      <thead>
        <tr>
          <th class="w-1/4 font-bold text-xl mb-2 px-4 py-2">Cursos</th>
          <th class="w-1/4 font-bold text-xl mb-2 px-4 py-2">Paralelos</th>
          <th class="w-1/4 font-bold text-xl mb-2 px-4 py-2">Funciones</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cp of cursoss" >

            <td class="border px-4 py-2"> {{cp.nombre_curso}} </td>
            <td class="border px-4 py-2"> {{cp.nombre_paralelo}} </td>

            <td class="border px-4 py-2" >
              <button id="eliminar" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
              (click)="delete(cp.id)"  >
                Eliminar
              </button>
              <button id="actualizar" class="open modal bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
                >
                Actualizar
              </button>
            </td>


        </tr>


      </tbody>
    </table>
  </div>






</div>-->
