#card{
  position: relative;
  top: 125px;
  height: 350px;
  width: 500px;
}

#crear{
  position: relative;
  left: 70px;
  width: 200px;
}

table {
  position: relative;
  top: 100px;
  right: 120px;
}

#eliminar{
  position: relative;

  width: 100px;

}

#actualizar{
  position: relative;

  width: 100px;
}
