<div class="flex w-full h-full flex-initial">
  <div class="flex-initial w-full">
      <div class="rounded flex overflow-hidden shadow-lg mx-auto mt-5 max-w-6xl">
        <div class="flex-initial w-1/3">
          <form action=""  [formGroup]="teacherForm">
            <div class="flex justify-center mt-3">
              <img class="avatar" src="{{teacherForm.get('img').value}}" alt="">
              
            </div>
            <div class="flex justify-center my-3">
              <mat-form-field>
                <ngx-mat-file-input placeholder="Foto de Perfil" (change)="onFileChange($event)">
                  <mat-icon ngxMatFileInputIcon>folder</mat-icon>
                </ngx-mat-file-input> 
              </mat-form-field>
            </div>
          </form>
        </div>
        <div class="flex-initial w-2/3">
          <form action=""  [formGroup]="teacherForm">
            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2">Información</div>
              <table class="example-full-width" cellspacing="0">
                <tr>
                  <td>
                    <mat-form-field class="example-full-width">
                      <mat-label>Nombre</mat-label>
                      <input matInput type="text" formControlName="nombre" placeholder="Ex. Pedro">
                      <mat-error *ngIf="teacherForm.get('nombre').hasError('required')">El nombre es necesario</mat-error>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class="example-full-width">
                      <mat-label>Apeliido</mat-label>
                      <input matInput type="text" formControlName="apellido" placeholder="Ex. Parker">
                      <mat-error *ngIf="teacherForm.get('apellido').hasError('required')">El apeliido es necesario</mat-error> 
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class="example-full-width">
                      <mat-label>Identificación</mat-label>
                      <input matInput type="text" formControlName="identificacion" placeholder="Ex. 1752436521">
                      <mat-error *ngIf="teacherForm.get('identificacion').hasError('required')">El identificación es necesario</mat-error>
                    </mat-form-field>
                  </td>
                </tr>
              </table>
              <table class="example-full-width" cellspacing="0">
                <tr>
                  <td>
                    <mat-form-field class="example-full-width">
                      <mat-label>Fecha de nacimiento</mat-label>
                      <input matInput type="date" formControlName="fechaNacimiento" placeholder="12/12/1998">
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class="example-full-width">
                      <mat-label>Correo</mat-label>
                      <input matInput type="text" formControlName="correo" placeholder="Ex. user@gmail.com">
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class="example-full-width">
                      <mat-label>Correo institucional</mat-label>
                      <input matInput type="text" formControlName="correoInst" placeholder="Ex. profesor@gmail.com">
                    </mat-form-field>
                  </td>
                </tr>
              </table>
              <table class="example-full-width" cellspacing="0">
                <tr>
                  <td>
                    <mat-form-field class="example-full-width">
                      <mat-label>Telefóno</mat-label>
                      <input matInput type="text" formControlName="telefono" placeholder="Ex. 0987654321">
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class="example-full-width">
                      <mat-label>Contacto de emergencial</mat-label>
                      <input matInput type="text" formControlName="contactoEmergencia" placeholder="Ex. 0963258741">
                    </mat-form-field>
                  </td>
                </tr>
              </table>
              <p>
                <mat-form-field class="example-full-width">
                  <mat-label>Dirección</mat-label>
                  <input matInput type="text" formControlName="direccion" placeholder="Ex. Av. 10 de Agosto y Pátria">
                </mat-form-field>
              </p>
            </div>
          </form>
          <div class="flex-initial w-2/4 mx-auto mb-2 bg-gray-500">
            <button mat-flat-button class=" text-white bg-greenWeedLight hover:bg-greenWeed w-full" (click)="create()">Guardar</button>
          </div>
        </div>
      </div>
  </div>
</div>