<div class="max-w-sm w-full lg:max-w-full lg:flex mx-auto pt-10">
  <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('../../assets/img/bg-Manhattan.png')" title="Woman holding a mug">
  </div>
  <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
    <div class="mb-8">
      <div class="text-gray-900 font-bold text-xl mb-2 text-center">EDUKT</div>
      <form action="" autocomplete="off" [formGroup]="loginForm" class="flex flex-wrap">
        <mat-form-field class="w-4/5 ml-5 my-2" appearance="legacy">
          <mat-label>Correo</mat-label>
          <input matInput type="text" formControlName="email" placeholder="Correo" color="primary">
          <mat-icon matPrefix class="text-gray-600">email</mat-icon>
          <mat-icon matSuffix class="text-greenWeed" *ngIf="loginForm.get('email').valid">done</mat-icon>
          <mat-error *ngIf="loginForm.get('email').hasError('pattern')">Ingrese un correo valido</mat-error>
          <mat-error *ngIf="loginForm.get('email').hasError('required')">El correo es necesario</mat-error>
        </mat-form-field>  
        <mat-form-field  class="w-4/5 ml-5 my-2">  
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" formControlName="password" placeholder="Contraseña">
          <mat-icon matPrefix class="text-gray-600">lock</mat-icon>
          <mat-icon matSuffix class="text-greenWeed" *ngIf="loginForm.get('password').valid">done</mat-icon>
          <mat-error *ngIf="loginForm.get('password').hasError('pattern')">Ingrese una contraseña valida</mat-error>
          <mat-error *ngIf="loginForm.get('password').hasError('required')">La contraseña es necesaria</mat-error>
        </mat-form-field>
        <div class="mt-2 w-full">
          <button mat-flat-button color="primary" class=" text-white float-right" (click)="login()">Acceder</button>  
        </div>
      </form>
    </div>
  </div>
</div>
    <!--<div class="max-w-sm lg:max-w-2xl lg:flex mx-auto">
      <div class="h-56 lg:h-auto lg:w-56 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('../../assets/img/bg-Manhattan.jpg')" title="arte en fisica">
      </div>
      <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
        <div class="mb-8">
          <h1 class="text-center text-gray-900 font-bold mb-1">Edukt</h1>
          <form action="" autocomplete="off" [formGroup]="loginForm">
            <mat-form-field class="w-4/5 ml-5" appearance="legacy">
              <mat-label>Correo</mat-label>
              <input matInput type="text" formControlName="email" placeholder="Correo" color="primary">
              <mat-icon matSuffix class="text-greenWeed" *ngIf="loginForm.get('email').valid">done</mat-icon>
              <mat-error *ngIf="loginForm.get('email').hasError('pattern')">Ingrese un correo valido</mat-error>
              <mat-error *ngIf="loginForm.get('email').hasError('required')">El correo es necesario</mat-error>
            </mat-form-field>  
            <mat-form-field  class="w-4/5 ml-5">  
              <mat-label>Contraseña</mat-label>
              <input matInput type="password" formControlName="password" placeholder="Contraseña">
              <mat-icon matSuffix class="text-greenWeed" *ngIf="loginForm.get('password').valid">done</mat-icon>
              <mat-error *ngIf="loginForm.get('password').hasError('pattern')">Ingrese una contraseña valida</mat-error>
              <mat-error *ngIf="loginForm.get('password').hasError('required')">La contraseña es necesaria</mat-error>
            </mat-form-field>
            <button mat-flat-button class="bg-greenWeed" (click)="login()">Acceder</button>  
          </form>
        </div>
      </div>
    </div>-->


