<div class="flex w-full h-full flex-initial">
  <div class="flex-initial w-full">
      <div class="flex-col overflow-hidden w-full">
          <h2 class="font-bold uppercase text-xl mt-8 ml-4">Lista Profesores</h2>
          <div class="flex justify-end mt-5">
              <button class="bg-greenWeedLight mr-4 hover:bg-greenWeed text-white font-bold py-2 px-4 rounded-full" routerLink="/profesores/nuevo">Crear Nuevo</button> 
          </div>
          <div class="mt-4 mx-4">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full">
          
              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
              </ng-container>
            
              <ng-container matColumnDef="apellido">
                <th mat-header-cell *matHeaderCellDef> Apellido </th>
                <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
              </ng-container>
            
              <ng-container matColumnDef="identificacion">
                <th mat-header-cell *matHeaderCellDef> Identificación </th>
                <td mat-cell *matCellDef="let element"> {{element.identificacion}} </td>
              </ng-container>

              <ng-container matColumnDef="fechaNacimiento">
                <th mat-header-cell *matHeaderCellDef> Fecha de nacimiento </th>
                <td mat-cell *matCellDef="let element"> {{element.fechaNacimiento}} </td>
              </ng-container>

              <ng-container matColumnDef="correo">
                <th mat-header-cell *matHeaderCellDef> Correo </th>
                <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
              </ng-container>

              <ng-container matColumnDef="correoInst">
                <th mat-header-cell *matHeaderCellDef> Correo institucional</th>
                <td mat-cell *matCellDef="let element"> {{element.correoInst}} </td>
              </ng-container>

              <ng-container matColumnDef="telefono">
                <th mat-header-cell *matHeaderCellDef> Telefono </th>
                <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
              </ng-container>

              <ng-container matColumnDef="contactoEmergencia">
                <th mat-header-cell *matHeaderCellDef> Contacto de emergencia </th>
                <td mat-cell *matCellDef="let element"> {{element.contactoEmergencia}} </td>
              </ng-container>

              <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button color="primary" (click)="selectEst(element.id)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button color="warn">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
      </div>
  </div>
</div>

